@import '~@theme/styles/variables.styl'

*
 box-sizing border-box

html
body
  padding 0
  margin 0
  font-family -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor
  background-color #f6f6f6

a
  font-weight 500
  color $accentColor
  text-decoration none

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.25
